/* changed body with my own
body {
    background-color: white;
    margin:0;
    padding:0;
	width: 100%;
	z-index: 0;
}
*/
body {
	/* background-image: url("backgroundimagepc3.jpg"); /* image subject to change*/ 
	/* I changed ^ this out for now, it makes some text hard to read */

	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

h2 {
    font-family: 'Coalition';
    font-style: italic;
    font-size: 32px;
    width: 100%;
}

hl {
    font-family: 'Coalition';
    font-style: italic;
    font-size: 45px;
    text-align: center;
}

div.center {
    text-align: center;
}

.reviewSection {
	margin-left: 25%;
	margin-right: 25%;

}

.reviewSection .title {
	text-align: center;
	font-size: 65px;
}

.titleLogin .p {
	text-align: right;
	margin-right: 50%;
}

.review_title {
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.yellow_star {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #e6b800;
	font-size: 35px;
}

.review_subtitle {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.review_text {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	font-family: 'CaviarDreams';
    font-size: 20px;
    width: 100%;
}

p2 {
    font-family: 'CaviarDreams_Bold';
    font-size: 20px;
    width: 100%;
}

.reviewSection .reviewTitle_subtitle {
	text-align: center;
}

table, th, td {
	padding: 10px;
	/* border: 1px solid black; */
	/* ^ this causes some problems too :( */
}

img {
    display: block;
    margin: auto;
}
@font-face {
    font-family: 'Coalition'; /*a name to be used later*/
    src: url('Coalition_v2.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CaviarDreams'; /*a name to be used later*/
    src: url('CaviarDreams.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CaviarDreams_Bold'; /*a name to be used later*/
    src: url('CaviarDreams_Bold.ttf'); /*URL to font*/
}

/* styling for forms */
form {
	text-align: center;
	background-color: white;
	/* border: 25px solid green; */
	/* ^ doesnt look amazing with theme */
	padding: 25px;
	font-family: 'CaviarDreams_Bold';
}
	

	/*content box for content */
.contentbox {
	width:70%;
	border: 1px solid black;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 0;
	}
	/* styling for logo */
.mainlogostyle {
	width:70%;
	height:10%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgb(255,100,0);
	}
/* below is for the navigation bar */
	
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333333;
			}

			li {
				float: left;
			}

			li a, .dropbtn {
				display: inline-block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover, .dropdown:hover .dropbtn {
				background-color: #111111;
			}

			li.dropdown {
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #333333;
				min-width: 93px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: white;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.dropdown-content a:hover {background-color: #111111}

			.dropdown:hover .dropdown-content {
				display: block;
			}
			
			.flex-container {
				display: -webkit-flex;
				display: flex;  
				-webkit-flex-flow: row wrap;
				flex-flow: row wrap;
				text-align: center;
			}

			.flex-container > * {
				padding: 25px;
				-webkit-flex: 1 100%;
				flex: 1 100%;
			}

			.article {
				text-align: left;
				opacity: 1.0;
				background : white;
			}

			header {background: black;color:white;}
			



			@media all and (min-width: 768px) {
				.article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
			
			}