form {
	text-align: center;
	background-color: white;
	border: 25px solid green;
	padding: 25px;
	}
	
body {
	background-image: url("backgroundimagepc3.jpg"); /* image subject to change*/

	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
.contentbox {
	width:70%;
	border: 1px solid black;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 0;
	}
	
.mainlogostyle {
	width:70%;
	height:10%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgb(255,100,0);
	}

	
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333333;
			}

			li {
				float: left;
			}

			li a, .dropbtn {
				display: inline-block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover, .dropdown:hover .dropbtn {
				background-color: #111111;
			}

			li.dropdown {
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #333333;
				min-width: 93px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: white;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.dropdown-content a:hover {background-color: #111111}

			.dropdown:hover .dropdown-content {
				display: block;
			}
			
			.flex-container {
				display: -webkit-flex;
				display: flex;  
				-webkit-flex-flow: row wrap;
				flex-flow: row wrap;
				text-align: center;
			}

			.flex-container > * {
				padding: 25px;
				-webkit-flex: 1 100%;
				flex: 1 100%;
			}

			.article {
				text-align: left;
				opacity: 1.0;
				background : white;
			}

			header {background: black;color:white;}
			



			@media all and (min-width: 768px) {
				.article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
			
			}