form {
	text-align: center;
	background-color: white;
	border: 25px solid green;
	padding: 25px;
	}
	
body {
	background-image: url("backgroundimagepc3.jpg"); /* image subject to change*/
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: center top;
	}
	
.contentbox {
	width:70%;
	border: 1px solid black;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 0;
	}
	
.mainlogostyle {
	width:70%;
	height:10%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgb(255,100,0);
	}
/*

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	}

li{
	float: left;
	}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
	cursor: pointer;
	
}
*/